<a href="https://colab.research.google.com/github/Josexnlx/conceptos-basicos/blob/main/Conceptos_basicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conceptos básicos - Jose Ballesteros

Tipos de variable

In [ ]:
x = 1 # entero

y = 2.5 # float

nombre = "Jose" #string

apellido = "Rodriguez"

print(type(x))
print(type(y))
print(type(nombre))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
resultados = x + y
print(resultados)

3.5

In [ ]:
nombre_completo = nombre + " " + apellido
print(nombre_completo)

Jose Rodriguez

In [ ]:
resultados = x + y
print("El resultado de la suma de X y Y es:",resultados)

El resultado de la suma de X y Y es: 3.5

In [ ]:
# input
nombre = input("Ingrese su nombre: ")
print("Hola",nombre)

Ingrese su nombre: Jose
Hola Jose

In [ ]:
# round

x = 1.4567877556
print(round(x,2))

1.46

Crear un programa donde se solicite su nombre y edad que automaticamente imprima un mensaje que le diga cuantos años tendra en 5 años más

# **Estructuras de datos **

In [ ]:
nombre = input("ingrese su nombre: ")
edad = int(input("ingrese su edad: "))
edad_futura = edad + 5
print("Hola",nombre,"tu edad en 5 años sera: ",edad_futura)

ingrese su nombre: Jose
ingrese su edad: 19
Hola Jose tu edad en 5 años sera:  24

In [ ]:
# Crear lista

mi_lista = [1,2,3,4,5]
print(mi_lista)

[1, 2, 3, 4, 5]

In [ ]:
print(mi_lista[4])

5

In [ ]:
print(len(mi_lista))

5

In [ ]:
mi_lista.append(9)
print(mi_lista)

[1, 2, 3, 4, 5, 6, 9]

In [ ]:
frutas = ["manzana","pera","banana"]
frutas.append("mango")
frutas.append("uva")
frutas.append("piña")
print(frutas)

['manzana', 'pera', 'banana', 'mango', 'uva', 'piña']

In [ ]:
frutas.remove("banana")
print(frutas)

['manzana', 'pera', 'mango', 'uva', 'piña']

In [ ]:
frutas[0]= "fresa"
print(frutas)

['fresa', 'pera', 'mango', 'uva', 'piña']

In [ ]:
type(frutas)

list

In [ ]:
# tupla
mi_tupla = (1,2,3,4,5)
print(mi_tupla)
type(mi_tupla)

(1, 2, 3, 4, 5)

tuple

In [ ]:
mi_diccionario = {"nombre":"Jose","edad":19}
print(mi_diccionario)
type(mi_diccionario)

{'nombre': 'Jose', 'edad': 19}

dict

In [ ]:
mi_diccionario["nombre"] = "Jose David"
mi_diccionario["edad"] = 20
print(mi_diccionario)

{'nombre': 'Jose David', 'edad': 20}

In [ ]:
# Crear un diccionario
mi_diccionario = {"nombre": "Jose", "edad": 19}
print("Diccionario original:", mi_diccionario)

# Agregar un nuevo par clave-valor
mi_diccionario["ciudad"] = "Bogota"
print("Diccionario después de agregar ciudad:", mi_diccionario)

# Agregar otro nuevo par clave-valor
mi_diccionario["profesion"] = "Estudiante"
print("Diccionario después de agregar profesion:", mi_diccionario)

Diccionario original: {'nombre': 'Jose', 'edad': 19}
Diccionario después de agregar ciudad: {'nombre': 'Jose', 'edad': 19, 'ciudad': 'Bogota'}
Diccionario después de agregar profesion: {'nombre': 'Jose', 'edad': 19, 'ciudad': 'Bogota', 'profesion': 'Estudiante'}

# Estructura de control de flujo

In [ ]:
nota = input("ingrese un numero: ")
nota = int(nota)

if nota >= 5:
    print("Aprobado")
else:
    print("Reprobado")

ingrese un numero: 4
Reprobado

In [ ]:
edad = input("ingrese su edad: ")
edad = int(edad)

if edad < 2:
    print("es un infante")
elif edad >= 2 and edad < 12:
    print("es un niño")
elif edad >= 13 and edad < 17:
    print("es un adolescente")
elif edad >= 18 and edad < 64:
    print("es un adulto")
else:
  print("es un adulto mayor")

#

ingrese su edad: 19
es un adulto

In [ ]:
# Bucles for
frutas = ["manzana","pera","banana","cereza"]
for fruta in frutas:
    print("me gusta comer",fruta)

me gusta comer manzana
me gusta comer pera
me gusta comer banana
me gusta comer cereza

In [ ]:
lista = [1,2,3,4,5]
for numero in lista:
    print(numero*10)

10
20
30
40
50

In [ ]:
# Bucle while
contador = 0
while contador < 11:
    print("El contador es:", contador)
    contador += 1

El contador es: 0
El contador es: 1
El contador es: 2
El contador es: 3
El contador es: 4
El contador es: 5
El contador es: 6
El contador es: 7
El contador es: 8
El contador es: 9
El contador es: 10

**Funciones**

In [ ]:
def saludo():
  print("hello amigo!")

In [ ]:
def holaconnombre(name):
  print("hola "+ name+"!")

In [ ]:
holaconnombre("jose")

hola jose!

In [ ]:
def sumatoria (nuermo1,nuermo2):
 resultado = nuermo1 * nuermo2
 return resultado

In [ ]:
sumatoria (5, 20)

100

In [ ]:
import math

radio = 5
area = math.pi * (radio ** 2)
print("El área del círculo con radio", radio, "es:", area)

El área del círculo con radio 5 es: 78.53981633974483

In [ ]:
def celsius_a_fahrenheit(celsius):
  """Convierte grados Celsius a Fahrenheit."""
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

# Ejemplo de uso
temperatura_celsius = 33
temperatura_fahrenheit = celsius_a_fahrenheit(temperatura_celsius)
print(f"{temperatura_celsius} grados Celsius son {temperatura_fahrenheit} grados Fahrenheit.")

33 grados Celsius son 91.4 grados Fahrenheit.

**Librerias**

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

# Datos de ejemplo para una industria minorista
data = {
    'Producto': ['Camisa', 'Pantalón', 'Zapatos', 'Camisa', 'Zapatos'],
    'Categoria': ['Ropa', 'Ropa', 'Calzado', 'Ropa', 'Calzado'],
    'Precio': [25.00, 40.00, 60.00, 25.00, 60.00],
    'Cantidad_Vendida': [10, 8, 5, 15, 7],
    'Fecha_Venta': ['2023-01-15', '2023-01-15', '2023-01-16', '2023-01-16', '2023-01-17']
}

df_ventas = pd.DataFrame(data)

print("Ejemplo de DataFrame de ventas:")
print(df_ventas)

Ejemplo de DataFrame de ventas:
   Producto Categoria  Precio  Cantidad_Vendida Fecha_Venta
0    Camisa      Ropa    25.0                10  2023-01-15
1  Pantalón      Ropa    40.0                 8  2023-01-15
2   Zapatos   Calzado    60.0                 5  2023-01-16
3    Camisa      Ropa    25.0                15  2023-01-16
4   Zapatos   Calzado    60.0                 7  2023-01-17